---
import { kebabCase } from 'lodash-es';
import Thumbnail from '../Image/Image.astro';
import { parse, format } from 'date-fns';
import type { ImageTint } from '../Image/cloudinary';

export type ListItemItemProps = {
  title: string;
  subtitle?: string;
  description?: string;
  datePublished: number;
  category?: string | undefined;
  thumbnail: string;
  tint: string | ImageTint;
  url: string;
};

export interface Props {
  item: ListItemItemProps;
  index?: number;
  showCategory?: boolean;
  showDate?: boolean;
}

const { item, index = 0, showCategory = false, showDate = false } = Astro.props;
const showMeta = showCategory || showDate;
const date = parse(item.datePublished.toString(), 'yyyyMMdd', new Date());
const viewTransitionBaseId = kebabCase(item.url);

const linkProps = () => {
  if (item.url.startsWith('http')) {
    return {
      href: item.url,
      target: '_blank',
      rel: 'noopener',
    };
  }

  return { href: item.url, ['transition:name']: `${viewTransitionBaseId}` };
};
---

<article>
  <a {...linkProps()} class="reset link">
    <figure class="media" transition:name={`${viewTransitionBaseId}-hero`}>
      <Thumbnail
        src={item.thumbnail}
        alt={item.title}
        className="image"
        tint={item.tint}
        loading={index > 0 ? 'lazy' : 'eager'}
        variants={[{ sizes: '(min-width: 800px) 58vw, (min-width: 1280px) 650px, 100vw', width: 1600, height: 900 }]}
      />
    </figure>
    <div class="content">
      <h2 class="title" transition:name={`${viewTransitionBaseId}-title`}>
        {item.title}
      </h2>
      <p class="subtitle" set:html={item.subtitle || item.description} />
      {
        showMeta && (
          <div class="meta">
            {showDate && <time datetime={date.toJSON()}>{format(date, 'yyyy MM dd')}</time>}
            {showCategory && item.category && <div class="category">{item.category}</div>}
          </div>
        )
      }
    </div>
  </a>
</article>

<style>
  article {
    max-width: 100%;
    text-align: center;

    @media (width >= 800px) {
      text-align: left;
    }
  }

  .media {
    position: relative;
    margin-bottom: 0;
  }

  .link {
    --link-color: var(--text-color);
    --link-hover-color: var(--text-color);
    --link-text-decoration: none;

    display: block;

    &:hover,
    &:focus {
      --stroke-inner-color: var(--text-color);
      --stroke-color: var(--text-color);
      --link-hover-background-color: transparent;
      --link-hover-color: inherit;
    }

    @media (width >= 800px) {
      display: grid;
      grid-template-columns: 7fr 5fr;
      gap: calc(var(--grid-gap-x) / 1);
    }
  }

  .content {
    position: relative;
    z-index: 1;
    margin-block-start: calc(var(--space) / -1.5);
    padding: 0 calc(var(--space) / 2);

    @media (width >= 800px) {
      margin-block-start: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: calc(var(--grid-gap-y) / 4);
    }
  }

  .title {
    margin-block-end: calc(var(--space) / 3);
    line-height: var(--line-height-xs);
    font-size: var(--font-size-2xl);

    @media (width >= 800px) {
      /* stylelint-disable-next-line scss/at-function-named-arguments */
      font-size: clamp(1rem, 7.5vw, var(--font-size-5xl));
      margin: calc(var(--grid-gap-y) * 0.5) 0 calc(var(--grid-gap-y) * 0.25) calc(var(--grid-gap-x) * -3);
      order: 1;
    }
  }

  .subtitle {
    font-weight: 400;
    order: 3;
    margin: 0 0 calc(var(--space) / 3);

    @media (width >= 800px) {
      margin: 0;
    }
  }

  .meta {
    display: flex;
    gap: calc(var(--grid-gap-x) / 2);
    justify-content: center;
    font-size: var(--font-size-sm);
    color: var(--grey);

    @media (width >= 800px) {
      justify-content: start;
      order: 2;
    }
  }

  .category {
    text-transform: uppercase;

    &::before {
      content: '#';
    }
  }
</style>
