---
import { orderBy, defaultsDeep } from 'lodash-es';
import { parse, format } from 'date-fns';
import BaseLayout from '../../layouts/Base.astro';
import List from '../../components/List/List.astro';
import Folio from '../../components/Page/Folio.astro';

const dateNow = format(new Date(), 'yyyyMMdd');
const allTalks = Astro.fetchContent('./*.md');
const allTalksOrdered = orderBy(allTalks, ['datePublished'], ['desc']);
const unpublishedTalks = allTalksOrdered.filter(({ datePublished }) => datePublished > dateNow);
const publishedTalks = allTalksOrdered.filter(({ datePublished }) => datePublished <= dateNow);
const baseLayoutProps = defaultsDeep(
  {
    content: {
      title: 'Talks',
      description:
        "Sometimes, I'll get on a stage and talk about the stuff I like. Like rocking out, but with less noise. Afterwards, I'll post my slides here.",
    },
  },
  Astro.props,
);
---

<BaseLayout {...baseLayoutProps}>
  <Folio title="Talks">
    <div class="upcoming full-width">
      <div class="container">
        <h2 class="upcoming-title">Upcoming</h2>
        <ul class="talks">
          {unpublishedTalks.map((talk) => {
            const date = parse(talk.datePublished, 'yyyyMMdd', new Date());
            return (
              <li class="talk">
                <time datetime={date}>{format(date, 'yyyy MM dd')}</time>
                <span class="talk-title">{talk.title}</span>
                {talk.redirect ? (
                  <a href={talk.redirect} class="talk-subtitle external" rel="noopener" target="_blank">
                    {talk.subtitle}
                  </a>
                ) : (
                  <span class="talk-subtitle">{talk.subtitle}</span>
                )}
              </li>
            );
          })}
        </ul>
      </div>
    </div>
    <List items={publishedTalks} large />
  </Folio>
</BaseLayout>

<style>
  .upcoming {
    text-align: center;
    margin-block-end: var(--grid-gap-y);
    background: var(--grey-200);
    padding-block: var(--grid-gap-y);

    .container {
      @media (min-width: 800px) {
        display: grid;
        grid-template-columns: 3fr 9fr;
        align-items: baseline;
      }
    }

    @media (min-width: 800px) {
      text-align: left;
    }
  }

  .upcoming-title {
    font-size: var(--font-size-lg);
    @media (min-width: 800px) {
      margin-block-end: 0;
    }
  }

  .talks {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .talk {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: var(--grid-gap-x);
    justify-content: space-between;

    @media (min-width: 800px) {
      justify-content: start;
    }
  }

  .no-break {
    white-space: nowrap;
  }
</style>
