---
const links = [
  {
    name: 'github',
    href: 'https://github.com/vanhoofmaarten/',
    icon: 'gitHub',
  },
  {
    name: 'twitter',
    href: 'https://twitter.com/mrtnvh/',
    icon: 'twitter',
  },
  {
    name: 'linkedin',
    href: 'https://www.linkedin.com/in/mrtnvh/',
    icon: 'linkedIn',
  },
  {
    name: 'email',
    href: 'mailto:info@mrtnvh.com',
    icon: 'email',
  },
];
---

<nav class="social">
  {links.map(({ href, name, icon }) => (
    <a href={href} class={name} target="_blank" rel="noopener" data-testid={`navigation-${name}`}>
      <svg aria-label={name}>
        <use xlink:href={`#${icon}`} />
      </svg>
    </a>
  ))}
</nav>

<style>
  .social {
    display: flex;
    justify-content: center;
    gap: var(--space);
  }

  button.link,
  a {
    line-height: 0;
    padding: calc(var(--space) * 0.25);
  }

  svg {
    height: calc(var(--space) * 1);
    width: calc(var(--space) * 1);
  }
</style>
