---
const links = [
  {
    label: 'Github profile of Maarten Van Hoof',
    className: 'github',
    href: 'https://github.com/vanhoofmaarten/',
    icon: 'gitHub',
  },
  {
    label: 'Twitter profile of Maarten Van Hoof',
    className: 'twitter',
    href: 'https://twitter.com/mrtnvh/',
    icon: 'twitter',
  },
  {
    label: 'LinkedIn profile of Maarten Van Hoof',
    className: 'linkedin',
    href: 'https://www.linkedin.com/in/mrtnvh/',
    icon: 'linkedIn',
  },
  {
    label: 'Send an e-mail to Maarten Van Hoof',
    className: 'email',
    href: 'mailto:info@mrtnvh.com',
    icon: 'email',
  },
];
---

<nav class="social">
  {links.map(({ href, className, icon, label }) => (
    <a
      href={href}
      class={className}
      aria-label={label}
      target="_blank"
      rel="noopener"
      data-testid={`navigation-${className}`}
    >
      <svg>
        <use xlink:href={`#${icon}`} />
      </svg>
    </a>
  ))}
</nav>

<style>
  .social {
    display: flex;
    justify-content: center;
    gap: var(--space);
  }

  button.link,
  a {
    line-height: 0;
    padding: calc(var(--space) * 0.25);
  }

  svg {
    height: calc(var(--space) * 1);
    width: calc(var(--space) * 1);
  }
</style>
