---
import urljoin from 'urljoin';
import { getImageVariants } from './Image/cloudinary';

const { content, category } = Astro.props;
const titleDefault = 'Maarten Van Hoof  Front End Developer';
const descriptionDefault =
  'Developer Advocate & Front-end Developer at iO in Eindhoven NL. An enthusiast of all things web, living in Turnhout, Belgium.';
const siteUrl = 'https://mrtnvh.com';

const getTitle = (...args) => [...args.filter((val) => val?.length), titleDefault].join('  ');
const title = getTitle(content?.title, category);
const description = content?.description || descriptionDefault;
const image = content?.thumbnail
  ? getImageVariants({ src: content?.thumbnail, tint: content?.tint }).og
  : urljoin(siteUrl, '/og.png');

const schemaWebsite = JSON.stringify({
  '@context': 'http://schema.org',
  '@type': 'WebSite',
  url: siteUrl,
  name: 'Maarten Van Hoof',
});

const schemaPerson = JSON.stringify({
  '@context': 'http://schema.org/',
  '@type': 'Person',
  name: 'Maarten Van Hoof',
  image:
    'https://res.cloudinary.com/mrtnvh/image/upload/c_scale,dpr_1.0,f_auto,q_auto,w_1200/v1570871092/mrtnvh.com/portrait',
  jobTitle: 'Developer Advocate && Front-end Developer',
  url: siteUrl,
  sameAs: siteUrl,
  memberOf: {
    '@context': 'http://schema.org',
    '@type': 'Organization',
    name: 'iO',
    url: 'https://iodigital.com',
    sameAs: 'https://iodigital.com',
    slogan: 'Discover infinite opportunities, together',
    description: 'Digital Full Service Agency',
    address: {
      '@type': 'PostalAddress',
      addressLocality: 'Eindhoven, The Netherlands',
      postalCode: '5621 AA',
      streetAddress: 'Marconilaan 16',
    },
    email: 'info@iodigital.com',
  },
});
---

<>
  <title>{title}</title>
  <meta name="description" content={description} />
  <meta name="author" content="Maarten Van Hoof" />
  <meta name="image" content={image} />
  <meta property="og:description" content={description} />
  <meta property="og:image:alt" content={title} />
  <meta property="og:image:height" content="630" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image" content={image} />
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="mrtnvh" />
  <meta property="og:title" content={title} />
  <meta property="og:type" content="article" />
  <script type="application/ld+json" set:html={schemaWebsite}></script>
  <script type="application/ld+json" set:html={schemaPerson}></script>
  <link rel="me" href="https://techhub.social/@mrtnvh" />
</>
