---
import sanitizeHtml from 'sanitize-html';
import urlJoin from 'url-join';
import { getImageVariants } from './Image/cloudinary';

const { content, category } = Astro.props;
const titleDefault = 'Maarten Van Hoof \\\\ Front End Developer';
const descriptionDefault =
  "Developer Advocate & Front-end DevOps Engineer at Essent in 's Hertogenbosch NL. An enthusiast of all things web, living in Arendonk, Belgium.";
const siteUrl = 'https://mrtnvh.com';

const getTitle = (...args: string[]) => [...args.filter((val) => val?.length), titleDefault].join(' \\\\ ');
const title = getTitle(content?.title, category);
const description = sanitizeHtml(content?.description || descriptionDefault, {
  allowedTags: [],
  allowedAttributes: {},
});
const image = content?.thumbnail
  ? getImageVariants({ src: content?.thumbnail, tint: content?.tint }).og
  : urlJoin(siteUrl, '/og.png');

const schemaWebsite = JSON.stringify({
  '@context': 'http://schema.org',
  '@type': 'WebSite',
  url: siteUrl,
  name: 'Maarten Van Hoof',
});

const schemaPerson = JSON.stringify({
  '@context': 'http://schema.org/',
  '@type': 'Person',
  name: 'Maarten Van Hoof',
  image:
    'https://res.cloudinary.com/mrtnvh/image/upload/c_scale,dpr_1.0,f_auto,q_auto,w_1200/v1570871092/mrtnvh.com/mrtnvh-2024.jpg',
  jobTitle: 'Front-end DevOps Engineer',
  url: siteUrl,
  sameAs: siteUrl,
});
---

<>
  <title>{title}</title>
  <meta name="description" content={description} />
  <meta name="author" content="Maarten Van Hoof" />
  <meta name="image" content={image} />
  <meta property="og:description" content={description} />
  <meta property="og:image:alt" content={title} />
  <meta property="og:image:height" content="630" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image" content={image} />
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="mrtnvh" />
  <meta property="og:title" content={title} />
  <meta property="og:type" content="article" />
  <script is:inline type="application/ld+json" set:html={schemaWebsite} />
  <script is:inline type="application/ld+json" set:html={schemaPerson} />
  <link rel="me" href="https://techhub.social/@mrtnvh" />
</>
