---
import { parse, format } from 'date-fns';
const { events = [] } = Astro.props;
---

{
  events.length > 0 && (
    <div class="upcoming full-width">
      <div class="container">
        <h2 class="upcoming-title">Upcoming</h2>
        <ul class="talks">
          {events.map((talk) => {
            const date = parse(talk.datePublished, 'yyyyMMdd', new Date());
            return (
              <li class="talk">
                <time datetime={date.toString()}>{format(date, 'yyyy MM dd')}</time>
                {talk.redirect ? (
                  <a href={talk.redirect} class="talk-title external" rel="noopener" target="_blank">
                    {talk.title}
                  </a>
                ) : (
                  <span class="talk-title">{talk.title}</span>
                )}
                <span class="talk-subtitle">{talk.subtitle}</span>
              </li>
            );
          })}
        </ul>
      </div>
    </div>
  )
}
