---
import BaseLayout from './Base.astro';
import Thumbnail from '../components/Image/Image.astro';
const { content } = Astro.props;
---

<BaseLayout {...Astro.props}>
  <article id="folio" class="container">
    <figure class="media">
      <div class="sticky">
        <Thumbnail
          src={content.thumbnail}
          alt={content.title}
          class="image"
          variants={[{ width: 800, height: 800, sizes: '(min-width: 800px) 33vw, (min-width: 1280px) 352px, 100vw' }]}
          tint={content.tint}
        />
      </div>
    </figure>
    <h1 class="title">
      {content.title}
    </h1>
    <section class="body">
      <p><strong>{content.subtitle}</strong></p>
      <slot />
    </section>
  </article>
</BaseLayout>

<style global>
  #folio .body > section {
    margin-bottom: var(--grid-gap);
  }
</style><style>
  .container {
    margin-block-start: calc(var(--grid-gap-y) * -2);

    @media (min-width: 800px) {
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: var(--grid-gap-x);
      margin-block-start: 0;
    }
  }

  .media {
    margin-inline: calc(var(--grid-gap-x) * -1);
    margin-bottom: 0;

    @media (min-width: 800px) {
      grid-area: 1 / 1 / 3 / 2;
      margin: 0;
    }
  }

  .sticky {
    position: sticky;
    top: 0;
  }

  .title {
    font-size: var(--detail-title-size);
    font-weight: var(--detail-title-font-weight);
    line-height: var(--detail-title-line-height);
    margin-block-start: -0.5625em;
    letter-spacing: var(--detail-title-letter-spacing);
    position: relative;
    z-index: 1;

    @media (min-width: 800px) {
      font-size: clamp(var(--font-size-6xl), 9vw, var(--font-size-8xl));
      margin: calc(var(--grid-gap-y) * 0.5) 0 calc(var(--grid-gap-y) * 0.5) calc(var(--grid-gap-x) * -2);
      grid-area: 1 / 2 / 1 / 4;
    }
  }

  .body {
    grid-area: 2 / 2 / 2 / 4;
  }
</style>
