---
import Seo from '../components/Seo.astro';
import Header from '../components/App/Header.astro';
import Footer from '../components/App/Footer.astro';
import SvgSprite from '../components/SvgSprite.astro';

import '../styles/app.css';

const isProd = import.meta.env.PROD;
const isMaster = import.meta.env.VITE_PROD === 'true';
const { content, preloads, frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="view-transition" content="same-origin" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width" />
    <meta name="apple-mobile-web-app-title" content="mrtnvh" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#95FF00" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,500;1,500&family=Inter:wght@400;500;700;800&display=swap"
      rel="stylesheet"
    />

    {
      preloads &&
        preloads.map(({ rel, as, type, imagesizes, media, imagesrcset }) => (
          <link rel={rel} as={as} type={type} imageSizes={imagesizes} media={media} imageSrcSet={imagesrcset} />
        ))
    }

    {content?.redirect && <meta http-equiv="refresh" content={`0;URL='${content.redirect}'`} />}

    <Seo {...Astro.props} />

    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/sw.js');
        });
      }
    </script>
  </head>

  <body>
    <div class="svg-sprite">
      <SvgSprite />
    </div>
    <div class="layout">
      {
        content?.redirect ? (
          <main class="centered" data-testid="redirect">
            Redirecting to {content.redirect}
          </main>
        ) : (
          <>
            <Header inverse={frontmatter?.headerInverse} />
            <main id="swup" class="transition-fade">
              <slot />
            </main>
            <Footer />
          </>
        )
      }
    </div>
    <script>
      import '../js/main.js';
    </script>
    {isProd && <script defer data-domain="mrtnvh.com" data-api="/api/event" src="/js/stats" />}
    <style>
      .svg-sprite {
        display: none;
      }

      .layout {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        padding-block-end: calc(var(--space) * 2);

        @media (min-width: 800px) {
          padding-block-end: 0;
        }
      }

      main {
        display: flex !important;
        flex-direction: column;
        padding-block-end: calc(var(--space) * 1);
        outline: 0;
      }

      .centered {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      main,
      .portal {
        flex-grow: 1;
      }

      .portal {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        &:empty {
          display: none;
        }
      }
    </style>
  </body>
</html>
