---
import { defaultsDeep } from 'lodash-es';
import BaseLayout from '../../layouts/Base.astro';
import Folio from '../../components/Page/Folio.astro';
import EventsTable from '../../components/EventsTable.astro';
import events from './events.csv';
import { getPastEvents, getUpcomingEvents, type Event } from '../../lib/useEvents';

const baseLayoutProps = defaultsDeep(
  {
    content: {
      title: 'Events',
      description:
        "Sometimes, I'll get on a stage and talk about the stuff I like. Like rocking out, but with less noise. Afterwards, I'll post my slides here.",
    },
  },
  Astro.props,
);

const upcomingEvents = getUpcomingEvents(events as unknown as Event[]);
const pastEvents = getPastEvents(events as unknown as Event[]);
---

<BaseLayout {...baseLayoutProps}>
  <Folio title="Events" showTitle={true}>
    <section>
      <p>
        Sometimes, I'll get on a stage and talk about the stuff I like. Like rocking out, but with less noise.
        Afterwards, I'll post my slides here. Other times, I'd like to go to places and meet people and talk about the
        Web.
      </p>
    </section>
    <section>
      <h2>Upcoming</h2>
      {(<EventsTable class="events-table" events={upcomingEvents} renderTopic={true} renderHeader={true} />)}
    </section>
    <section>
      <h2>Past</h2>
      {(<EventsTable class="events-table" events={pastEvents} renderTopic={true} renderHeader={true} />)}
    </section>
  </Folio>
</BaseLayout>

<style>
  section {
    padding-block-end: calc(var(--space) * 1);

    @media screen and (min-width: 800px) {
      padding-block-end: calc(var(--space) * 2);
    }
  }
</style>
